{% extends "default/module.html.jinja2" %}


{% block nav_footer %}
    <footer>SpeechSynthesizer by Daniel Swietlik</footer>
{% endblock %}

{#
Overriden is_public macro for private methods discovery
#}
{% macro is_public(doc) %}
    {% if doc.name.startswith("_") and not doc.name.endswith("__") %}
        true
    {% else %}
        {{ default_is_public(doc) }}
    {% endif %}
{% endmacro %}